<app-header />

<section class="container grow py-6 flex flex-col items-center justify-center gap-6">
  @if (!subjects() || subjects().length === 0) {
  <p>Aucun sujet disponible pour le moment.</p>
  } @else {
  <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 w-full">
    @for (subject of subjects(); track subject.id) {
    <li>
      <app-subjects-card
        [subject]="subject"
        [isSubscribed]="subject.isSubscribed"
        (onSubscribe)="handleOnSubscribe($event)"
      />
    </li>
    }
  </ul>
  }
</section>
