services:
  pgsql-db:
    image: postgres:16-alpine
    container_name: pgsql-db
    restart: always
    env_file: ./.env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - mdd-pgdata:/var/lib/postgresql/data

volumes:
  mdd-pgdata: