<section class="container grow flex flex-col items-center justify-center gap-6">
  <h1 class="text-3xl font-medium">Register</h1>

  <form
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-col gap-4 w-full sm:w-56"
  >
    <div class="flex flex-col gap-1">
      <input
        pInputText
        type="email"
        id="email"
        placeholder="Email"
        formControlName="email"
        [invalid]="isInvalid('email')"
      />

      @if (isInvalid('email')) {
      <p class="text-sm text-red-500">Email is required</p>
      }
    </div>

    <div class="flex flex-col gap-1">
      <input
        pInputText
        type="username"
        id="username"
        placeholder="Username"
        formControlName="username"
        [invalid]="isInvalid('username')"
      />

      @if (isInvalid('username')) {
      <p class="text-sm text-red-500">Username is required</p>
      }
    </div>

    <div class="flex flex-col gap-1">
      <p-password
        formControlName="password"
        placeholder="Password"
        [invalid]="isInvalid('password')"
        autocomplete="off"
        fluid
        [toggleMask]="true"
      />

      @if (isInvalid('password')) {
      <p class="text-sm text-red-500">Password is required</p>
      }
    </div>

    <div class="flex flex-col gap-1">
      <p-password
        formControlName="confirmPassword"
        placeholder="Confirm password"
        [invalid]="
          isInvalid('confirmPassword') ||
          (registerForm.touched && registerForm.hasError('passwordMismatch'))
        "
        autocomplete="off"
        fluid
        [toggleMask]="true"
        feedback="false"
      />

      @if (isInvalid('confirmPassword')) {
      <p class="text-sm text-red-500">Password confirmation is required</p>
      } @else if (registerForm.touched && registerForm.hasError('passwordMismatch')) {
      <p class="text-sm text-red-500">Passwords do not match</p>
      }
    </div>

    <button
      pButton
      severity="secondary"
      type="submit"
      [disabled]="registerForm.invalid || isLoading()"
      class="disabled:cursor-not-allowed"
    >
      <span pButtonLabel>Submit</span>
    </button>

    @if (error()) {
    <div class="p-2 text-red-500 text-center">Une erreur est survenue, veuillez réessayer.</div>
    }
  </form>
</section>
