<app-header />
<section class="relative container grow flex flex-col items-center justify-center gap-6">
  <div class="absolute top-8 left-8">
    <a routerLink="/" class="flex items-center gap-2">
      <i class="pi pi-arrow-left text-xl"></i>
      <span>Retour à l'accueil</span>
    </a>
  </div>

  <a routerLink="/" class="block sm:hidden -mb-4">
    <img src="logo_p6.png" alt="Logo" class="h-28" />
  </a>

  <h1 class="text-3xl font-medium">Inscription</h1>

  <form
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-col gap-2 w-full sm:w-56"
  >
    <div class="flex flex-col gap-1">
      <label for="username" class="text-sm">Nom d'utilisateur</label>
      <input
        pInputText
        type="username"
        id="username"
        formControlName="username"
        [invalid]="isInvalid('username')"
      />

      @if (isInvalid('username')) {
      <p class="text-sm text-red-500">Votre nom d'utilisateur est requis</p>
      }
    </div>

    <div class="flex flex-col gap-1">
      <label for="email" class="text-sm">Email</label>
      <input
        pInputText
        type="email"
        id="email"
        formControlName="email"
        [invalid]="isInvalid('email')"
      />

      @if (isInvalid('email')) {
      <p class="text-sm text-red-500">Votre email est requis</p>
      }
    </div>

    <div class="flex flex-col gap-1">
      <label for="password" class="text-sm">Mot de passe</label>
      <p-password
        formControlName="password"
        inputId="password"
        [invalid]="isInvalid('password')"
        autocomplete="off"
        fluid
        [toggleMask]="true"
      />

      @if (isInvalid('password')) {
      <p class="text-sm text-red-500">Votre mot de passe est requis</p>
      }
    </div>

    <div class="flex flex-col gap-1">
      <label for="confirmPassword" class="text-sm">Confirmation</label>
      <p-password
        formControlName="confirmPassword"
        inputId="confirmPassword"
        [invalid]="
          isInvalid('confirmPassword') ||
          (registerForm.touched && registerForm.hasError('passwordMismatch'))
        "
        autocomplete="off"
        fluid
        [toggleMask]="true"
        feedback="false"
      />

      @if (isInvalid('confirmPassword')) {
      <p class="text-sm text-red-500">Merci de confirmer votre mot de passe</p>
      } @else if (registerForm.touched && registerForm.hasError('passwordMismatch')) {
      <p class="text-sm text-red-500">Les mots de passe ne correspondent pas</p>
      }
    </div>

    <button
      pButton
      type="submit"
      [disabled]="registerForm.invalid || isLoading()"
      class="mt-2 disabled:cursor-not-allowed"
    >
      <span pButtonLabel>S'inscrire</span>
    </button>

    @if (error()) {
    <div class="p-2 text-red-500 text-center">
      <p>Une erreur est survenue, veuillez réessayer.</p>
      <p class="mt-2">Error: {{ error() }}</p>
    </div>
    }
  </form>
</section>
